In [3]:
%load_ext sql

## Question 1. Google Cloud SDK

Install Google Cloud SDK. What's the version you have? 

To get the version, run `gcloud --version`

Answer: [output](./output/q1.txt)

## Question 2. Terraform 

Now install terraform and go to the terraform directory (`week_1_basics_n_setup/1_terraform_gcp/terraform`)

After that, run

* `terraform init`
* `terraform plan`
* `terraform apply` 

Apply the plan and copy the output (after running `apply`) to the form.

It should be the entire output - from the moment you typed `terraform init` to the very end.

Answer:
- [init output](./output/q2_init.txt)
- [plan output](./output/q2_plan.txt)
- [apply output](./output/q2_apply.txt)

## Question 3. Count records 

How many taxi trips were there on January 15?

Consider only trips that started on January 15.

In [21]:
%%sql postgresql://root:root@localhost:5432/ny_taxi
select count(*)
from yellow_taxi_trips
where tpep_pickup_datetime::date = '2021-01-15'

1 rows affected.

[(53024,)]

## Question 4. Largest tip for each day

Find the largest tip for each day. 
On which day it was the largest tip in January?

Use the pick up time for your calculations.

(note: it's not a typo, it's "tip", not "trip")

In [15]:
%%sql
select
    date(tpep_pickup_datetime) as day,
    max(tip_amount) as tip
from yellow_taxi_trips
where
    date(tpep_pickup_datetime)::text like '2021-01%'
group by day
order by tip desc
limit 1

 * postgresql://root:***@localhost:5432/ny_taxi
1 rows affected.

[(datetime.date(2021, 1, 20), 1140.44)]

## Question 5. Most popular destination

What was the most popular destination for passengers picked up 
in central park on January 14?

Use the pick up time for your calculations.

Enter the zone name (not id). If the zone name is unknown (missing), write "Unknown"

In [19]:
%%sql
select
    coalesce(zdo."Zone", 'Unknown') as "Zone"
from
    yellow_taxi_trips t
    join zones zpu on t."PULocationID" = zpu."LocationID"
    left join zones zdo on t."DOLocationID" = zdo."LocationID"
group by zpu."Zone", zdo."Zone", date(t.tpep_pickup_datetime)
having
	zpu."Zone" = 'Central Park' and
	date(t.tpep_pickup_datetime) = '2021-01-14'
order by count(1) desc
limit 1

 * postgresql://root:***@localhost:5432/ny_taxi
1 rows affected.

[('Upper East Side South',)]

another solution

In [26]:
%%sql
select
    coalesce(zdo."Zone", 'Unknown') as "Zone",
    count(*) as c
from
    yellow_taxi_trips t
    join zones zpu on t."PULocationID" = zpu."LocationID"
    left join zones zdo on t."DOLocationID" = zdo."LocationID"
where
    zpu."Zone" like '%Central Park%' and t.tpep_pickup_datetime::date = '2021-01-14'
group by 1
order by c desc
limit 1

 * postgresql://root:***@localhost:5432/ny_taxi
1 rows affected.

[('Upper East Side South', 97)]

## Question 6. Most expensive locations

What's the pickup-dropoff pair with the largest 
average price for a ride (calculated based on `total_amount`)?

Enter two zone names separated by a slash

For example:

"Jamaica Bay / Clinton East"

If any of the zone names are unknown (missing), write "Unknown". For example, "Unknown / Clinton East".

In [27]:
%%sql
select
    concat(coalesce(zpu."Zone", 'Unknow'), ' / ', coalesce(zdo."Zone", 'Unknow')) as pair,
    avg(t.total_amount) as avg_price_ride
from
    yellow_taxi_trips t
    left join zones zpu on t."PULocationID" = zpu."LocationID"
    left join zones zdo on t."DOLocationID" = zdo."LocationID"
group by pair
order by avg_price_ride desc
limit 1

 * postgresql://root:***@localhost:5432/ny_taxi
1 rows affected.

[('Alphabet City / Unknow', 2292.4)]