In [39]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [40]:
%env DATABASE_URL postgresql://root:root@192.168.46.220/ny_taxi

env: DATABASE_URL=postgresql://root:root@192.168.46.220/ny_taxi

1. create master table
2. create out of range table
    some tables contains many rows out of timespan, in order to be a partition table, the table
    should only consist of rows within the given timespan.

3. cleanup partition tables
4. attach partitions
5. move some data back
6. create index

## FHV taxi

### 1. Create master table

In [ ]:
%%sql
CREATE TABLE public."fhv_taxi" (
	dispatching_base_num text NULL,
	pickup_datetime timestamp NULL,
	"dropOff_datetime" timestamp NULL,
	"PUlocationID" int8 NULL,
	"DOlocationID" int8 NULL,
	"SR_Flag" float8 NULL,
	"Affiliated_base_number" text NULL
) partition by range(pickup_datetime);

### 2. create out of range table

In [ ]:
%%sql
create table "fhv_taxi_out_of_range" (like fhv_taxi)

### 3. cleanup partition tables

In [ ]:
%%sql
insert into fhv_taxi_out_of_range(
    select * from "fhv_taxi_2019-01" where pickup_datetime::date < '2019-01-01'or pickup_datetime::date >= '2019-02-01'
    union
    select * from "fhv_taxi_2019-02" where pickup_datetime::date < '2019-02-01'or pickup_datetime::date >= '2019-03-01'
    union
    select * from "fhv_taxi_2019-03" where pickup_datetime::date < '2019-03-01'or pickup_datetime::date >= '2019-04-01'
    union
    select * from "fhv_taxi_2019-04" where pickup_datetime::date < '2019-04-01'or pickup_datetime::date >= '2019-05-01'
    union
    select * from "fhv_taxi_2019-05" where pickup_datetime::date < '2019-05-01'or pickup_datetime::date >= '2019-06-01'
    union
    select * from "fhv_taxi_2019-06" where pickup_datetime::date < '2019-06-01'or pickup_datetime::date >= '2019-07-01'
    union
    select * from "fhv_taxi_2019-07" where pickup_datetime::date < '2019-07-01'or pickup_datetime::date >= '2019-08-01'
    union
    select * from "fhv_taxi_2019-08" where pickup_datetime::date < '2019-08-01'or pickup_datetime::date >= '2019-09-01'
    union
    select * from "fhv_taxi_2019-09" where pickup_datetime::date < '2019-09-01'or pickup_datetime::date >= '2019-10-01'
    union
    select * from "fhv_taxi_2019-10" where pickup_datetime::date < '2019-10-01'or pickup_datetime::date >= '2019-11-01'
    union
    select * from "fhv_taxi_2019-11" where pickup_datetime::date < '2019-11-01'or pickup_datetime::date >= '2019-12-01'
    union
    select * from "fhv_taxi_2019-12" where pickup_datetime::date < '2019-12-01'or pickup_datetime::date >= '2020-01-01'
)

In [ ]:
%%sql
delete from "fhv_taxi_2019-01" where pickup_datetime::date < '2019-01-01'or pickup_datetime::date >= '2019-02-01';
delete from "fhv_taxi_2019-02" where pickup_datetime::date < '2019-02-01'or pickup_datetime::date >= '2019-03-01';
delete from "fhv_taxi_2019-03" where pickup_datetime::date < '2019-03-01'or pickup_datetime::date >= '2019-04-01';
delete from "fhv_taxi_2019-04" where pickup_datetime::date < '2019-04-01'or pickup_datetime::date >= '2019-05-01';
delete from "fhv_taxi_2019-05" where pickup_datetime::date < '2019-05-01'or pickup_datetime::date >= '2019-06-01';
delete from "fhv_taxi_2019-06" where pickup_datetime::date < '2019-06-01'or pickup_datetime::date >= '2019-07-01';
delete from "fhv_taxi_2019-07" where pickup_datetime::date < '2019-07-01'or pickup_datetime::date >= '2019-08-01';
delete from "fhv_taxi_2019-08" where pickup_datetime::date < '2019-08-01'or pickup_datetime::date >= '2019-09-01';
delete from "fhv_taxi_2019-09" where pickup_datetime::date < '2019-09-01'or pickup_datetime::date >= '2019-10-01';
delete from "fhv_taxi_2019-10" where pickup_datetime::date < '2019-10-01'or pickup_datetime::date >= '2019-11-01';
delete from "fhv_taxi_2019-11" where pickup_datetime::date < '2019-11-01'or pickup_datetime::date >= '2019-12-01';
delete from "fhv_taxi_2019-12" where pickup_datetime::date < '2019-12-01'or pickup_datetime::date >= '2020-01-01';

### 4. attach partitions

In [ ]:
%%sql
alter table fhv_taxi attach partition "fhv_taxi_2019-01" for values from ('2019-01-01') to ('2019-02-01');
alter table fhv_taxi attach partition "fhv_taxi_2019-02" for values from ('2019-02-01') to ('2019-03-01');
alter table fhv_taxi attach partition "fhv_taxi_2019-03" for values from ('2019-03-01') to ('2019-04-01');
alter table fhv_taxi attach partition "fhv_taxi_2019-04" for values from ('2019-04-01') to ('2019-05-01');
alter table fhv_taxi attach partition "fhv_taxi_2019-05" for values from ('2019-05-01') to ('2019-06-01');
alter table fhv_taxi attach partition "fhv_taxi_2019-06" for values from ('2019-06-01') to ('2019-07-01');
alter table fhv_taxi attach partition "fhv_taxi_2019-07" for values from ('2019-07-01') to ('2019-08-01');
alter table fhv_taxi attach partition "fhv_taxi_2019-08" for values from ('2019-08-01') to ('2019-09-01');
alter table fhv_taxi attach partition "fhv_taxi_2019-09" for values from ('2019-09-01') to ('2019-10-01');
alter table fhv_taxi attach partition "fhv_taxi_2019-10" for values from ('2019-10-01') to ('2019-11-01');
alter table fhv_taxi attach partition "fhv_taxi_2019-11" for values from ('2019-11-01') to ('2019-12-01');
alter table fhv_taxi attach partition "fhv_taxi_2019-12" for values from ('2019-12-01') to ('2020-01-01');

### 5. move some data back

In [ ]:
%%sql
insert into fhv_taxi (
    select * from "fhv_taxi_out_of_range" where pickup_datetime::date >= '2019-01-01'or pickup_datetime::date < '2020-01-01'
);

In [ ]:
%%sql
delete from "fhv_taxi_out_of_range" where pickup_datetime::date >= '2019-01-01'or pickup_datetime::date < '2020-01-01'

### 6. Create index

In [ ]:
%%sql
create index on fhv_taxi(pickup_datetime);

## Yellow Taxi

### 1. Create master table

In [ ]:
%%sql
CREATE TABLE public.yellow_taxi (
	"VendorID" int8 NULL,
	tpep_pickup_datetime timestamp NULL,
	tpep_dropoff_datetime timestamp NULL,
	passenger_count float8 NULL,
	trip_distance float8 NULL,
	"RatecodeID" float8 NULL,
	store_and_fwd_flag text NULL,
	"PULocationID" int8 NULL,
	"DOLocationID" int8 NULL,
	payment_type int8 NULL,
	fare_amount float8 NULL,
	extra float8 NULL,
	mta_tax float8 NULL,
	tip_amount float8 NULL,
	tolls_amount float8 NULL,
	improvement_surcharge float8 NULL,
	total_amount float8 NULL,
	congestion_surcharge float8 NULL,
	airport_fee float8 NULL
)
PARTITION BY RANGE (tpep_pickup_datetime);

### 2. create out of range table

In [ ]:
%%sql
create table "yellow_taxi_out_of_range" (like yellow_taxi)

### 3. cleanup partition tables

In [ ]:
%%sql
insert into yellow_taxi_out_of_range(
    select * from "yellow_taxi_2019-01" where tpep_pickup_datetime::date < '2019-01-01'or tpep_pickup_datetime::date >= '2019-02-01'
    union
    select * from "yellow_taxi_2019-02" where tpep_pickup_datetime::date < '2019-02-01'or tpep_pickup_datetime::date >= '2019-03-01'
    union
    select * from "yellow_taxi_2019-03" where tpep_pickup_datetime::date < '2019-03-01'or tpep_pickup_datetime::date >= '2019-04-01'
    union
    select * from "yellow_taxi_2019-04" where tpep_pickup_datetime::date < '2019-04-01'or tpep_pickup_datetime::date >= '2019-05-01'
    union
    select * from "yellow_taxi_2019-05" where tpep_pickup_datetime::date < '2019-05-01'or tpep_pickup_datetime::date >= '2019-06-01'
    union
    select * from "yellow_taxi_2019-06" where tpep_pickup_datetime::date < '2019-06-01'or tpep_pickup_datetime::date >= '2019-07-01'
    union
    select * from "yellow_taxi_2019-07" where tpep_pickup_datetime::date < '2019-07-01'or tpep_pickup_datetime::date >= '2019-08-01'
    union
    select * from "yellow_taxi_2019-08" where tpep_pickup_datetime::date < '2019-08-01'or tpep_pickup_datetime::date >= '2019-09-01'
    union
    select * from "yellow_taxi_2019-09" where tpep_pickup_datetime::date < '2019-09-01'or tpep_pickup_datetime::date >= '2019-10-01'
    union
    select * from "yellow_taxi_2019-10" where tpep_pickup_datetime::date < '2019-10-01'or tpep_pickup_datetime::date >= '2019-11-01'
    union
    select * from "yellow_taxi_2019-11" where tpep_pickup_datetime::date < '2019-11-01'or tpep_pickup_datetime::date >= '2019-12-01'
    union
    select * from "yellow_taxi_2019-12" where tpep_pickup_datetime::date < '2019-12-01'or tpep_pickup_datetime::date >= '2020-01-01'
    union
    select * from "yellow_taxi_2020-01" where tpep_pickup_datetime::date < '2020-01-01'or tpep_pickup_datetime::date >= '2020-02-01'
    union
    select * from "yellow_taxi_2020-02" where tpep_pickup_datetime::date < '2020-02-01'or tpep_pickup_datetime::date >= '2020-03-01'
    union
    select * from "yellow_taxi_2020-03" where tpep_pickup_datetime::date < '2020-03-01'or tpep_pickup_datetime::date >= '2020-04-01'
    union
    select * from "yellow_taxi_2020-04" where tpep_pickup_datetime::date < '2020-04-01'or tpep_pickup_datetime::date >= '2020-05-01'
    union
    select * from "yellow_taxi_2020-05" where tpep_pickup_datetime::date < '2020-05-01'or tpep_pickup_datetime::date >= '2020-06-01'
    union
    select * from "yellow_taxi_2020-06" where tpep_pickup_datetime::date < '2020-06-01'or tpep_pickup_datetime::date >= '2020-07-01'
    union
    select * from "yellow_taxi_2020-07" where tpep_pickup_datetime::date < '2020-07-01'or tpep_pickup_datetime::date >= '2020-08-01'
    union
    select * from "yellow_taxi_2020-08" where tpep_pickup_datetime::date < '2020-08-01'or tpep_pickup_datetime::date >= '2020-09-01'
    union
    select * from "yellow_taxi_2020-09" where tpep_pickup_datetime::date < '2020-09-01'or tpep_pickup_datetime::date >= '2020-10-01'
    union
    select * from "yellow_taxi_2020-10" where tpep_pickup_datetime::date < '2020-10-01'or tpep_pickup_datetime::date >= '2020-11-01'
    union
    select * from "yellow_taxi_2020-11" where tpep_pickup_datetime::date < '2020-11-01'or tpep_pickup_datetime::date >= '2020-12-01'
    union
    select * from "yellow_taxi_2020-12" where tpep_pickup_datetime::date < '2020-12-01'or tpep_pickup_datetime::date >= '2021-01-01'
)

In [ ]:
%%sql
delete from "yellow_taxi_2019-01" where tpep_pickup_datetime::date < '2019-01-01'or tpep_pickup_datetime::date >= '2019-02-01';
delete from "yellow_taxi_2019-02" where tpep_pickup_datetime::date < '2019-02-01'or tpep_pickup_datetime::date >= '2019-03-01';
delete from "yellow_taxi_2019-03" where tpep_pickup_datetime::date < '2019-03-01'or tpep_pickup_datetime::date >= '2019-04-01';
delete from "yellow_taxi_2019-04" where tpep_pickup_datetime::date < '2019-04-01'or tpep_pickup_datetime::date >= '2019-05-01';
delete from "yellow_taxi_2019-05" where tpep_pickup_datetime::date < '2019-05-01'or tpep_pickup_datetime::date >= '2019-06-01';
delete from "yellow_taxi_2019-06" where tpep_pickup_datetime::date < '2019-06-01'or tpep_pickup_datetime::date >= '2019-07-01';
delete from "yellow_taxi_2019-07" where tpep_pickup_datetime::date < '2019-07-01'or tpep_pickup_datetime::date >= '2019-08-01';
delete from "yellow_taxi_2019-08" where tpep_pickup_datetime::date < '2019-08-01'or tpep_pickup_datetime::date >= '2019-09-01';
delete from "yellow_taxi_2019-09" where tpep_pickup_datetime::date < '2019-09-01'or tpep_pickup_datetime::date >= '2019-10-01';
delete from "yellow_taxi_2019-10" where tpep_pickup_datetime::date < '2019-10-01'or tpep_pickup_datetime::date >= '2019-11-01';
delete from "yellow_taxi_2019-11" where tpep_pickup_datetime::date < '2019-11-01'or tpep_pickup_datetime::date >= '2019-12-01';
delete from "yellow_taxi_2019-12" where tpep_pickup_datetime::date < '2019-12-01'or tpep_pickup_datetime::date >= '2020-01-01';
delete from "yellow_taxi_2020-01" where tpep_pickup_datetime::date < '2020-01-01'or tpep_pickup_datetime::date >= '2020-02-01';
delete from "yellow_taxi_2020-02" where tpep_pickup_datetime::date < '2020-02-01'or tpep_pickup_datetime::date >= '2020-03-01';
delete from "yellow_taxi_2020-03" where tpep_pickup_datetime::date < '2020-03-01'or tpep_pickup_datetime::date >= '2020-04-01';
delete from "yellow_taxi_2020-04" where tpep_pickup_datetime::date < '2020-04-01'or tpep_pickup_datetime::date >= '2020-05-01';
delete from "yellow_taxi_2020-05" where tpep_pickup_datetime::date < '2020-05-01'or tpep_pickup_datetime::date >= '2020-06-01';
delete from "yellow_taxi_2020-06" where tpep_pickup_datetime::date < '2020-06-01'or tpep_pickup_datetime::date >= '2020-07-01';
delete from "yellow_taxi_2020-07" where tpep_pickup_datetime::date < '2020-07-01'or tpep_pickup_datetime::date >= '2020-08-01';
delete from "yellow_taxi_2020-08" where tpep_pickup_datetime::date < '2020-08-01'or tpep_pickup_datetime::date >= '2020-09-01';
delete from "yellow_taxi_2020-09" where tpep_pickup_datetime::date < '2020-09-01'or tpep_pickup_datetime::date >= '2020-10-01';
delete from "yellow_taxi_2020-10" where tpep_pickup_datetime::date < '2020-10-01'or tpep_pickup_datetime::date >= '2020-11-01';
delete from "yellow_taxi_2020-11" where tpep_pickup_datetime::date < '2020-11-01'or tpep_pickup_datetime::date >= '2020-12-01';
delete from "yellow_taxi_2020-12" where tpep_pickup_datetime::date < '2020-12-01'or tpep_pickup_datetime::date >= '2021-01-01';

### 4. attach partitions

In [ ]:
%%sql
alter table yellow_taxi attach partition "yellow_taxi_2019-01" for values from ('2019-01-01') to ('2019-02-01');
alter table yellow_taxi attach partition "yellow_taxi_2019-02" for values from ('2019-02-01') to ('2019-03-01');
alter table yellow_taxi attach partition "yellow_taxi_2019-03" for values from ('2019-03-01') to ('2019-04-01');
alter table yellow_taxi attach partition "yellow_taxi_2019-04" for values from ('2019-04-01') to ('2019-05-01');
alter table yellow_taxi attach partition "yellow_taxi_2019-05" for values from ('2019-05-01') to ('2019-06-01');
alter table yellow_taxi attach partition "yellow_taxi_2019-06" for values from ('2019-06-01') to ('2019-07-01');
alter table yellow_taxi attach partition "yellow_taxi_2019-07" for values from ('2019-07-01') to ('2019-08-01');
alter table yellow_taxi attach partition "yellow_taxi_2019-08" for values from ('2019-08-01') to ('2019-09-01');
alter table yellow_taxi attach partition "yellow_taxi_2019-09" for values from ('2019-09-01') to ('2019-10-01');
alter table yellow_taxi attach partition "yellow_taxi_2019-10" for values from ('2019-10-01') to ('2019-11-01');
alter table yellow_taxi attach partition "yellow_taxi_2019-11" for values from ('2019-11-01') to ('2019-12-01');
alter table yellow_taxi attach partition "yellow_taxi_2019-12" for values from ('2019-12-01') to ('2020-01-01');
alter table yellow_taxi attach partition "yellow_taxi_2020-01" for values from ('2020-01-01') to ('2020-02-01');
alter table yellow_taxi attach partition "yellow_taxi_2020-02" for values from ('2020-02-01') to ('2020-03-01');
alter table yellow_taxi attach partition "yellow_taxi_2020-03" for values from ('2020-03-01') to ('2020-04-01');
alter table yellow_taxi attach partition "yellow_taxi_2020-04" for values from ('2020-04-01') to ('2020-05-01');
alter table yellow_taxi attach partition "yellow_taxi_2020-05" for values from ('2020-05-01') to ('2020-06-01');
alter table yellow_taxi attach partition "yellow_taxi_2020-06" for values from ('2020-06-01') to ('2020-07-01');
alter table yellow_taxi attach partition "yellow_taxi_2020-07" for values from ('2020-07-01') to ('2020-08-01');
alter table yellow_taxi attach partition "yellow_taxi_2020-08" for values from ('2020-08-01') to ('2020-09-01');
alter table yellow_taxi attach partition "yellow_taxi_2020-09" for values from ('2020-09-01') to ('2020-10-01');
alter table yellow_taxi attach partition "yellow_taxi_2020-10" for values from ('2020-10-01') to ('2020-11-01');
alter table yellow_taxi attach partition "yellow_taxi_2020-11" for values from ('2020-11-01') to ('2020-12-01');
alter table yellow_taxi attach partition "yellow_taxi_2020-12" for values from ('2020-12-01') to ('2021-01-01');

### 5. move some data back

In [ ]:
%%sql
insert into yellow_taxi
select * from yellow_taxi_out_of_range where tpep_pickup_datetime >= '2019-01-01' and tpep_pickup_datetime < '2021-01-01';

In [ ]:
%%sql
delete from yellow_taxi_out_of_range where tpep_pickup_datetime >= '2019-01-01' and tpep_pickup_datetime < '2021-01-01';

### 6. Create index

In [ ]:
%%sql
create index on yellow_taxi(tpep_pickup_datetime);

## Green Taxi

In [3]:
%%sql
CREATE TABLE public."green_taxi" (
	vendorid int8 NULL,
	lpep_pickup_datetime timestamptz NULL,
	lpep_dropoff_datetime timestamptz NULL,
	store_and_fwd_flag text NULL,
	ratecodeid float8 NULL,
	pulocationid int8 NULL,
	dolocationid int8 NULL,
	passenger_count float8 NULL,
	trip_distance float8 NULL,
	fare_amount float8 NULL,
	extra float8 NULL,
	mta_tax float8 NULL,
	tip_amount float8 NULL,
	tolls_amount float8 NULL,
	ehail_fee float8 NULL,
	improvement_surcharge float8 NULL,
	total_amount float8 NULL,
	payment_type float8 NULL,
	trip_type float8 NULL,
	congestion_surcharge float8 NULL
) partition by range(lpep_pickup_datetime);

Done.

[]

 * postgresql://root:***@192.168.46.220/ny_taxi
(psycopg2.errors.SyntaxError) syntax error at or near "time"
LINE 22: ) partition by range(lpep_pickup_datetime at time zone 'EST'...
                                                      ^

[SQL: CREATE TABLE public."green_taxi2" (
	vendorid int8 NULL,
	lpep_pickup_datetime timestamptz NULL,
	lpep_dropoff_datetime timestamptz NULL,
	store_and_fwd_flag text NULL,
	ratecodeid float8 NULL,
	pulocationid int8 NULL,
	dolocationid int8 NULL,
	passenger_count float8 NULL,
	trip_distance float8 NULL,
	fare_amount float8 NULL,
	extra float8 NULL,
	mta_tax float8 NULL,
	tip_amount float8 NULL,
	tolls_amount float8 NULL,
	ehail_fee float8 NULL,
	improvement_surcharge float8 NULL,
	total_amount float8 NULL,
	payment_type float8 NULL,
	trip_type float8 NULL,
	congestion_surcharge float8 NULL
) partition by range(lpep_pickup_datetime at time zone 'EST');]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [25]:
%%sql
create table "green_taxi_out_of_range" (like green_taxi)

 * postgresql://root:***@192.168.46.220/ny_taxi
Done.

[]

In [42]:
%%sql
insert into green_taxi_out_of_range(
    select * from "green_taxi_2019-01" where lpep_pickup_datetime at time zone 'EST' < '2019-01-01' or lpep_pickup_datetime at time zone 'EST' >= '2019-02-01'
    union
    select * from "green_taxi_2019-02" where lpep_pickup_datetime at time zone 'EST' < '2019-02-01' or lpep_pickup_datetime at time zone 'EST' >= '2019-03-01'
    union
    select * from "green_taxi_2019-03" where lpep_pickup_datetime at time zone 'EST' < '2019-03-01' or lpep_pickup_datetime at time zone 'EST' >= '2019-04-01'
    union
    select * from "green_taxi_2019-04" where lpep_pickup_datetime at time zone 'EST' < '2019-04-01' or lpep_pickup_datetime at time zone 'EST' >= '2019-05-01'
    union
    select * from "green_taxi_2019-05" where lpep_pickup_datetime at time zone 'EST' < '2019-05-01' or lpep_pickup_datetime at time zone 'EST' >= '2019-06-01'
    union
    select * from "green_taxi_2019-06" where lpep_pickup_datetime at time zone 'EST' < '2019-06-01' or lpep_pickup_datetime at time zone 'EST' >= '2019-07-01'
    union
    select * from "green_taxi_2019-07" where lpep_pickup_datetime at time zone 'EST' < '2019-07-01' or lpep_pickup_datetime at time zone 'EST' >= '2019-08-01'
    union
    select * from "green_taxi_2019-08" where lpep_pickup_datetime at time zone 'EST' < '2019-08-01' or lpep_pickup_datetime at time zone 'EST' >= '2019-09-01'
    union
    select * from "green_taxi_2019-09" where lpep_pickup_datetime at time zone 'EST' < '2019-09-01' or lpep_pickup_datetime at time zone 'EST' >= '2019-10-01'
    union
    select * from "green_taxi_2019-10" where lpep_pickup_datetime at time zone 'EST' < '2019-10-01' or lpep_pickup_datetime at time zone 'EST' >= '2019-11-01'
    union
    select * from "green_taxi_2019-11" where lpep_pickup_datetime at time zone 'EST' < '2019-11-01' or lpep_pickup_datetime at time zone 'EST' >= '2019-12-01'
    union
    select * from "green_taxi_2019-12" where lpep_pickup_datetime at time zone 'EST' < '2019-12-01' or lpep_pickup_datetime at time zone 'EST' >= '2020-01-01'
    union
    select * from "green_taxi_2020-01" where lpep_pickup_datetime at time zone 'EST' < '2020-01-01' or lpep_pickup_datetime at time zone 'EST' >= '2020-02-01'
    union
    select * from "green_taxi_2020-02" where lpep_pickup_datetime at time zone 'EST' < '2020-02-01' or lpep_pickup_datetime at time zone 'EST' >= '2020-03-01'
    union
    select * from "green_taxi_2020-03" where lpep_pickup_datetime at time zone 'EST' < '2020-03-01' or lpep_pickup_datetime at time zone 'EST' >= '2020-04-01'
    union
    select * from "green_taxi_2020-04" where lpep_pickup_datetime at time zone 'EST' < '2020-04-01' or lpep_pickup_datetime at time zone 'EST' >= '2020-05-01'
    union
    select * from "green_taxi_2020-05" where lpep_pickup_datetime at time zone 'EST' < '2020-05-01' or lpep_pickup_datetime at time zone 'EST' >= '2020-06-01'
    union
    select * from "green_taxi_2020-06" where lpep_pickup_datetime at time zone 'EST' < '2020-06-01' or lpep_pickup_datetime at time zone 'EST' >= '2020-07-01'
    union
    select * from "green_taxi_2020-07" where lpep_pickup_datetime at time zone 'EST' < '2020-07-01' or lpep_pickup_datetime at time zone 'EST' >= '2020-08-01'
    union
    select * from "green_taxi_2020-08" where lpep_pickup_datetime at time zone 'EST' < '2020-08-01' or lpep_pickup_datetime at time zone 'EST' >= '2020-09-01'
    union
    select * from "green_taxi_2020-09" where lpep_pickup_datetime at time zone 'EST' < '2020-09-01' or lpep_pickup_datetime at time zone 'EST' >= '2020-10-01'
    union
    select * from "green_taxi_2020-10" where lpep_pickup_datetime at time zone 'EST' < '2020-10-01' or lpep_pickup_datetime at time zone 'EST' >= '2020-11-01'
    union
    select * from "green_taxi_2020-11" where lpep_pickup_datetime at time zone 'EST' < '2020-11-01' or lpep_pickup_datetime at time zone 'EST' >= '2020-12-01'
    union
    select * from "green_taxi_2020-12" where lpep_pickup_datetime at time zone 'EST' < '2020-12-01' or lpep_pickup_datetime at time zone 'EST' >= '2021-01-01'
)

 * postgresql://root:***@192.168.46.220/ny_taxi
814 rows affected.

[]

In [44]:
%%sql
delete from "green_taxi_2019-01" where lpep_pickup_datetime at time zone 'EST' < '2019-01-01' or lpep_pickup_datetime at time zone 'EST' >= '2019-02-01';
delete from "green_taxi_2019-02" where lpep_pickup_datetime at time zone 'EST' < '2019-02-01' or lpep_pickup_datetime at time zone 'EST' >= '2019-03-01';
delete from "green_taxi_2019-03" where lpep_pickup_datetime at time zone 'EST' < '2019-03-01' or lpep_pickup_datetime at time zone 'EST' >= '2019-04-01';
delete from "green_taxi_2019-04" where lpep_pickup_datetime at time zone 'EST' < '2019-04-01' or lpep_pickup_datetime at time zone 'EST' >= '2019-05-01';
delete from "green_taxi_2019-05" where lpep_pickup_datetime at time zone 'EST' < '2019-05-01' or lpep_pickup_datetime at time zone 'EST' >= '2019-06-01';
delete from "green_taxi_2019-06" where lpep_pickup_datetime at time zone 'EST' < '2019-06-01' or lpep_pickup_datetime at time zone 'EST' >= '2019-07-01';
delete from "green_taxi_2019-07" where lpep_pickup_datetime at time zone 'EST' < '2019-07-01' or lpep_pickup_datetime at time zone 'EST' >= '2019-08-01';
delete from "green_taxi_2019-08" where lpep_pickup_datetime at time zone 'EST' < '2019-08-01' or lpep_pickup_datetime at time zone 'EST' >= '2019-09-01';
delete from "green_taxi_2019-09" where lpep_pickup_datetime at time zone 'EST' < '2019-09-01' or lpep_pickup_datetime at time zone 'EST' >= '2019-10-01';
delete from "green_taxi_2019-10" where lpep_pickup_datetime at time zone 'EST' < '2019-10-01' or lpep_pickup_datetime at time zone 'EST' >= '2019-11-01';
delete from "green_taxi_2019-11" where lpep_pickup_datetime at time zone 'EST' < '2019-11-01' or lpep_pickup_datetime at time zone 'EST' >= '2019-12-01';
delete from "green_taxi_2019-12" where lpep_pickup_datetime at time zone 'EST' < '2019-12-01' or lpep_pickup_datetime at time zone 'EST' >= '2020-01-01';
delete from "green_taxi_2020-01" where lpep_pickup_datetime at time zone 'EST' < '2020-01-01' or lpep_pickup_datetime at time zone 'EST' >= '2020-02-01';
delete from "green_taxi_2020-02" where lpep_pickup_datetime at time zone 'EST' < '2020-02-01' or lpep_pickup_datetime at time zone 'EST' >= '2020-03-01';
delete from "green_taxi_2020-03" where lpep_pickup_datetime at time zone 'EST' < '2020-03-01' or lpep_pickup_datetime at time zone 'EST' >= '2020-04-01';
delete from "green_taxi_2020-04" where lpep_pickup_datetime at time zone 'EST' < '2020-04-01' or lpep_pickup_datetime at time zone 'EST' >= '2020-05-01';
delete from "green_taxi_2020-05" where lpep_pickup_datetime at time zone 'EST' < '2020-05-01' or lpep_pickup_datetime at time zone 'EST' >= '2020-06-01';
delete from "green_taxi_2020-06" where lpep_pickup_datetime at time zone 'EST' < '2020-06-01' or lpep_pickup_datetime at time zone 'EST' >= '2020-07-01';
delete from "green_taxi_2020-07" where lpep_pickup_datetime at time zone 'EST' < '2020-07-01' or lpep_pickup_datetime at time zone 'EST' >= '2020-08-01';
delete from "green_taxi_2020-08" where lpep_pickup_datetime at time zone 'EST' < '2020-08-01' or lpep_pickup_datetime at time zone 'EST' >= '2020-09-01';
delete from "green_taxi_2020-09" where lpep_pickup_datetime at time zone 'EST' < '2020-09-01' or lpep_pickup_datetime at time zone 'EST' >= '2020-10-01';
delete from "green_taxi_2020-10" where lpep_pickup_datetime at time zone 'EST' < '2020-10-01' or lpep_pickup_datetime at time zone 'EST' >= '2020-11-01';
delete from "green_taxi_2020-11" where lpep_pickup_datetime at time zone 'EST' < '2020-11-01' or lpep_pickup_datetime at time zone 'EST' >= '2020-12-01';
delete from "green_taxi_2020-12" where lpep_pickup_datetime at time zone 'EST' < '2020-12-01' or lpep_pickup_datetime at time zone 'EST' >= '2021-01-01';

 * postgresql://root:***@192.168.46.220/ny_taxi
113 rows affected.
82 rows affected.
76 rows affected.
33 rows affected.
42 rows affected.
53 rows affected.
48 rows affected.
36 rows affected.
64 rows affected.
32 rows affected.
33 rows affected.
62 rows affected.
53 rows affected.
25 rows affected.
22 rows affected.
6 rows affected.
0 rows affected.
2 rows affected.
6 rows affected.
3 rows affected.
9 rows affected.
9 rows affected.
2 rows affected.
3 rows affected.

[]

In [74]:
%%sql
-- alter table green_taxi attach partition "green_taxi_2019-01" for values from ('2019-01-01' at time zone 'EST') to ('2019-02-01' at time zone 'EST');
alter table green_taxi attach partition "green_taxi_2019-02" for values from ('2019-02-01') to ('2019-03-01');
alter table green_taxi attach partition "green_taxi_2019-03" for values from ('2019-03-01') to ('2019-04-01');
alter table green_taxi attach partition "green_taxi_2019-04" for values from ('2019-04-01') to ('2019-05-01');
alter table green_taxi attach partition "green_taxi_2019-05" for values from ('2019-05-01') to ('2019-06-01');
alter table green_taxi attach partition "green_taxi_2019-06" for values from ('2019-06-01') to ('2019-07-01');
alter table green_taxi attach partition "green_taxi_2019-07" for values from ('2019-07-01') to ('2019-08-01');
alter table green_taxi attach partition "green_taxi_2019-08" for values from ('2019-08-01') to ('2019-09-01');
alter table green_taxi attach partition "green_taxi_2019-09" for values from ('2019-09-01') to ('2019-10-01');
alter table green_taxi attach partition "green_taxi_2019-10" for values from ('2019-10-01') to ('2019-11-01');
alter table green_taxi attach partition "green_taxi_2019-11" for values from ('2019-11-01') to ('2019-12-01');
alter table green_taxi attach partition "green_taxi_2019-12" for values from ('2019-12-01') to ('2020-01-01');
alter table green_taxi attach partition "green_taxi_2020-01" for values from ('2020-01-01') to ('2020-02-01');
alter table green_taxi attach partition "green_taxi_2020-02" for values from ('2020-02-01') to ('2020-03-01');
alter table green_taxi attach partition "green_taxi_2020-03" for values from ('2020-03-01') to ('2020-04-01');
alter table green_taxi attach partition "green_taxi_2020-04" for values from ('2020-04-01') to ('2020-05-01');
alter table green_taxi attach partition "green_taxi_2020-05" for values from ('2020-05-01') to ('2020-06-01');
alter table green_taxi attach partition "green_taxi_2020-06" for values from ('2020-06-01') to ('2020-07-01');
alter table green_taxi attach partition "green_taxi_2020-07" for values from ('2020-07-01') to ('2020-08-01');
alter table green_taxi attach partition "green_taxi_2020-08" for values from ('2020-08-01') to ('2020-09-01');
alter table green_taxi attach partition "green_taxi_2020-09" for values from ('2020-09-01') to ('2020-10-01');
alter table green_taxi attach partition "green_taxi_2020-10" for values from ('2020-10-01') to ('2020-11-01');
alter table green_taxi attach partition "green_taxi_2020-11" for values from ('2020-11-01') to ('2020-12-01');
alter table green_taxi attach partition "green_taxi_2020-12" for values from ('2020-12-01') to ('2021-01-01');

 * postgresql://root:***@192.168.46.220/ny_taxi
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [75]:
%%sql
insert into green_taxi
select * from green_taxi_out_of_range where lpep_pickup_datetime >= '2019-01-01' and lpep_pickup_datetime < '2021-01-01';

 * postgresql://root:***@192.168.46.220/ny_taxi
547 rows affected.

[]

In [76]:
%%sql
delete from green_taxi_out_of_range where lpep_pickup_datetime >= '2019-01-01' and lpep_pickup_datetime < '2021-01-01';

 * postgresql://root:***@192.168.46.220/ny_taxi
547 rows affected.

[]

In [77]:
%%sql
create index on green_taxi(lpep_pickup_datetime)

 * postgresql://root:***@192.168.46.220/ny_taxi
Done.

[]