In [39]:
%load_ext sql

In [2]:
import pandas as pd
import pyarrow.parquet as pq
from sqlalchemy import create_engine
from io import BytesIO
import urllib.request as request
import json

# Data ingestion into Postgres

- [Download and preview the data](#download-and-preview-the-data)
- [Test ingestion with small size](#test-ingestion-with-small-size)
    - [Clean up test ingest](#clean-up-test-ingest)
- [Batch ingestion](#batch-ingestion)

## Download and preview the data

Prepare configuration

In [3]:
url = 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2021-01.parquet'
db_conf = None
with open('./db_connection.json', 'r') as f:
    db_conf = json.load(f)

db_url = f'postgresql://{db_conf["user"]}:{db_conf["password"]}@{db_conf["host"]}:{db_conf["port"]}/{db_conf["db"]}'

Check database connection

In [4]:
engine = create_engine(db_url)
engine.connect()

Download dataset and convert it to pandas dataframe

In [5]:
dataset_fd = BytesIO(request.urlopen(url).read())

Examine the schema

In [33]:
pq_file = pq.ParquetFile(dataset_fd)
partial_df = next(pq_file.iter_batches(batch_size=10)).to_pandas()

In [29]:
print(f'The shape of partial_df is: {partial_df.shape}')

# without connection, sqlalchemy print generized sql schema
print(pd.io.sql.get_schema(partial_df, name=db_conf['table']))

# with connection to posgres, it print database specific schema
#print(pd.io.sql.get_schema(partial_df, name=db_conf['table'], con=engine))

The shape of partial_df is: (10, 19)
CREATE TABLE "yellow_taxi_trips" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "airport_fee" REAL
)

Unlike [video](https://youtu.be/2JM-ziJt0WI?list=PL3MmuxUbc_hJed7dXYoJw8DoCuVHhGEQb&t=1133) shows,
the new version of parquet format, already has correct schema, so we don't have to transform ourself.

leave a note, if we want to transform the data type.
```python
partial_df.tpep_pickup_datetime = pd.to_datetime(partial_df.tpep_pickup_datetime)
partial_df.tpep_dropoff_datetime = pd.to_datetime(partial_df.tpep_dropoff_datetime)
```

Push it to postgres and check the schema and row counts

##  Test ingestion with small size

In [37]:
partial_df.to_sql(name=db_conf['table'], con=engine, if_exists='append', chunksize=100000)

10

In [57]:
%%sql $db_url
\d {db_conf['table']}

20 rows affected.

[['index', 'bigint', ''],
 ['VendorID', 'bigint', ''],
 ['tpep_pickup_datetime', 'timestamp without time zone', ''],
 ['tpep_dropoff_datetime', 'timestamp without time zone', ''],
 ['passenger_count', 'double precision', ''],
 ['trip_distance', 'double precision', ''],
 ['RatecodeID', 'double precision', ''],
 ['store_and_fwd_flag', 'text', ''],
 ['PULocationID', 'bigint', ''],
 ['DOLocationID', 'bigint', ''],
 ['payment_type', 'bigint', ''],
 ['fare_amount', 'double precision', ''],
 ['extra', 'double precision', ''],
 ['mta_tax', 'double precision', ''],
 ['tip_amount', 'double precision', ''],
 ['tolls_amount', 'double precision', ''],
 ['improvement_surcharge', 'double precision', ''],
 ['total_amount', 'double precision', ''],
 ['congestion_surcharge', 'double precision', ''],
 ['airport_fee', 'double precision', '']]

In [59]:
%%sql
select count(1) from {db_conf['table']}

 * postgresql://root:***@localhost:5432/ny_taxi
1 rows affected.

[(10,)]

### Clean up test ingest

so we can batch insert later without duplicate records

In [60]:
%%sql
drop table if exists {db_conf['table']}

 * postgresql://root:***@localhost:5432/ny_taxi
Done.

[]

## Batch ingestion

In [1]:
import ingest_data
ingest_data.ingest_data(dataset_fd, db_conf['table'], engine)

In [69]:
%%sql
select count(1) from {db_conf['table']}

 * postgresql://root:***@localhost:5432/ny_taxi
1 rows affected.

[(1369769,)]